<div id="mainpage">
	<form class="login" method="POST" action="/">
		<input type="text" placeholder="Enter email " name="email">
		<input type="password" placeholder="Enter password" name="password">
		<input type="submit" value="Login">
	</form>
	<form class="signup" method="POST" action="/signup">
		<input type="email" placeholder="Email" name="email">
		<input type="username" placeholder="Pick a username" name="username">
		<input type="password" placeholder="Pick a password" name="password">
		<input type="submit" value="Signup">
	</form>
</div>


<script>
	$(document).ready(function() {
		$(".navbar-default").hide()
	});
</script>

<img src="images/stars1.jpg" alt="">


