<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Horo</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Raleway|Poiret+One|Josefin+Sans|Abel' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="navigation">
	<nav class="navbar-default">
	  	<nav>
	  		<ul class="navbar">
	  			<li><a href="/feed">Feed</a></li>
	  			<li><a href="/browse">Browse</a></li>
	  			<li><a href="/profile">Profile</a></li>
	  		</ul>

	  			<% if session[:user_id] %>

	  				<ul class="usernamenav">
	  					<li>
				<%= current_user.username %>
							<ul class="fallback">
					       		<li><a class="padding"  href="#">Account</a></li>
					        	<li><a class="paddinga" href="#">Log Out</a></li>
					    	</ul>
						</li>
					</ul>
	  			<% end %>
	  	</nav>
	</nav>

		<% if flash[:notice] %>
			<div class="flash notice">
				<%= flash[:notice] %>
			</div>
		<% end %>

		<% if flash[:alert] %>
			<div class= "alert notice">
				<%= flash[:alert] %>
			</div>
			<% end %>
</div>



  <%= yield %>

</body>
</html>