<form id = "post_form" action = "/profile" method = "POST">
  <!-- <input type = "text" name = "content" placeholder = "Comment in 140 characters or less" maxlength = "140"></input> -->
  <textarea name = "content" placeholder = "Type 140 characters or less" maxlength = "140"></textarea>
  <input type = "Submit" value = "Post"></input>
</form>


<h2 id = "posts_title">Your Posts:</h2>
<div class = "user_post">
  <% @posts.each do |post| %>
  
  <p class = "post_content">  
    <%= post.content %>
  </p>
  <p class = "post_username">  
    <%= User.where(id: post.user_id).pluck(:username).first %>
  </p>
  <p class = "post_timestamp">
    <%= post.post_date.getlocal.strftime("%b %-d, %Y  %l:%M %p") %>
  </p>
  <hr>
  <% end %>  
</div>
  
