/*navbar*/
nav{
	position: relative;
	z-index: 1000;
}

.navbar-default {
	background-color: #f3f1f4;
	border-color: #bdbdbd;
	height: 30px;
	width: 100vw;
	position: fixed;
	
}


.navbar{
	float: left;
	list-style: none;
	position: fixed;
	z-index: 100;
	margin-left: 100px;
	margin-top: 10px;

}


ul, li {
	position: relative;
	margin-left: 40px;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}


.usernamenav {
	float: left;
	margin-top: 10px;
	margin-left: 900px;
	list-style: none;
	position: fixed;
	z-index: 1000;
	/*border: 1px solid black;*/
}


nav ul li ul.fallback {
	display:none;
	position: absolute;
	list-style-type: none;

}
nav ul li:hover ul.fallback {
	display:block;
	list-style-type: none;
}



a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
	color: black;
}



/*Login page */

#mainpage{
	background-color: rgba(96, 96, 96,0.80);
	height: 320px;
	width: 500px;
	z-index: 1000;
	position: absolute;
	margin-left: 400px;
	margin-top: 200px;

}


.login{
	z-index: 30000;
	/*  border: 1px solid white;*/
	padding-left: 50px;
	padding-top: 100px;

}

.signup{
	z-index: 30000;
	/*border: 1px solid white;*/
	background-color: rgb(96, 96, 96,0,0.6);
/*	width: 400px;*/
	padding-top: 30px;
	padding-left: 50px;
	height: 200px;
}

input:placeholder-shown {
	font-family: 'sans-serif', sans-serif;
}


.background{
	height: 100vh;
	width: 100vw;
}


.flash{
	/*position: absolute;
	z-index: 1000;
	border: 1px solid black;
	margin-top: 20px;*/

}

.notice{

}

.alert{

}

html,
body {
   margin:0;
   padding:0;
   height:98vh;
   font-family: 'Josefin Sans', sans-serif;
}
#container {
   min-height:100%;
   position:relative;
   z-index: -1;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;

   height:60px;   /* Height of the footer */
}
footer{
  font-size: 12px;
  margin-left: 10px;
}

#container {
  clear: both;
}



/* Profile Page - Begin */
#post_form  textarea{
  position: relative;
  top: 9em;
  left: 12.5em;
  width: 31.8em;
  padding: 15px 15px 37px;
  font-size: 1.2em;
  border: lightblue 3px solid;
  border-radius: 10px;
}

#post_form  input[type = "Submit"] {
  position: relative;
  top: 10.4em;
  left: 16em;
  border: lightblue 3px solid;
  border-radius: 10px;
  background-color: lightblue;
  height: 2em; 
  width: 4em;
}

#posts_title {
  position: relative;
  top: 7em;
  left: 10em;
  margin: 0;
}

.user_post {
  position: relative;
  left: 12.5em;
  top: 9em;
  border: 1px solid red;
  width: 40em;
  font-size: 1.2em;
  padding: 0 15px 30px;
  width: 31.8em;
  border: lightblue 3px solid;
  border-radius: 10px;
}

.user_post .post_content {
  font-weight: 900;
  padding: 0 15px 15px;
}

.user_post .post_username {
  font-size: .9em;
  padding: 0 15px 15px;
  position: relative;
  top: 1em;
}

.user_post .post_timestamp {
  font-size: .75em;
  position: absolute;
  right: 3.5em;
  margin: -33px;
  padding: 0 15px 15px;
}

/* Profile Page - End 


/*Account Page CSS Goes Here*/

#acctInfo {
  line-height: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
}

#acctInfo ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#acctInfo ul li {
  margin: 0;
  padding: 0;
}

#newInfo {
  text-transform: uppercase;
}

#newInfo input, #newInfo select {
  width: 150px;
  text-transform: uppercase;
}

#deleteAcct {
  margin-left: 100px;
  font-size: 72px;
}

#deleteAcct input {
  text-transform: uppercase;

}

input:placeholder-shown {
  font-family: 'Josefin Sans', sans-serif;

}

/*Account page end*/


/*Browse page begin*/

#userlist li {
  display: block;
  top: 2em;
  font-size: 24px;
  padding-top: 16px;

}

/*Browse page end*/









