/*navbar*/
nav{


}

/*ul{
	background-color: grey;
	width: 100vw;
	padding: 10px;
}
*/


.navbar-default {
  background-color: #f3f1f4;
  border-color: #bdbdbd;
  height: 100px;
  width: 100vw;
}




.navbar{
	float: left;
	list-style: none;
	position: fixed;
	z-index: 100;
}

ul, li {
	position: relative;

	float: left;
	padding-left: 10px;
	margin-left: 70px;
	font-family: 'Josefin Sans', sans-serif;
/*	font-family: 'Abel', sans-serif;*/
	text-transform: uppercase;
}


.usernamenav {
	float: left;
	margin-left: 900px;
	list-style: none;
	position: fixed;
	z-index: 1000;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.login{
	margin-top: 300px;
	margin-left: 450px;

	float: left;
}



















.flash{

}

.notice{

}

.alert{

}

/*Account Page CSS Goes Here*/

#acctInfo {
  line-height: 30px;
  display: flex;
  justify-content: space-around;
}

#acctInfo ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#acctInfo ul li {
  margin: 0;
  padding: 0;
}

#newInfo {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

#newInfo input {
  width: 150px;
}

#fieldNames, #currentInfo, #newInfo {
  
}

/****************************/