/*navbar*/
nav{
	position: relative;
	z-index: 1000;
}

.navbar-default {
	background-color: #f3f1f4;
	border-color: #bdbdbd;
	height: 30px;
	width: 100vw;
	position: fixed;
	
}


.navbar{
	display: block;
	list-style: none;
	position: fixed;
	z-index: 100;
	margin-left: 100px;
	margin-top: 10px;
  padding-left: 40px;

}
.margins {
  margin-left: 40px;
}


.margins, .navbar,  .fallback, .padding, .usernamenav {
	position: relative;
/*	margin-left: 40px;*/
	/*float: left;*/
  display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}


.usernamenav {
	float: left;
	margin-top: 10px;
	margin-left: 700px;
	list-style: none;
	position: fixed;
	z-index: 1000;
	/*border: 1px solid black;*/
}


nav ul li ul.fallback {
	display:none;
	position: absolute;
	list-style-type: none;
  margin: auto 0;
  padding: 0px;

}
nav ul li:hover ul.fallback {
	display:block;
/*  position: relative;*/
	list-style-type: none;
  margin: auto 0;
  padding: 5px;
}

.padding{
  margin-top: 10px;
  padding: 0px;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
	color: black;
}



/*Login page */

#mainpage{
	background-color: rgba(96, 96, 96,0.80);
	height: 320px;
	width: 500px;
	z-index: 1000;
	position: absolute;
	margin-left: 400px;
	margin-top: 200px;

}


.login{
	z-index: 30000;
	/*  border: 1px solid white;*/
	padding-left: 50px;
	padding-top: 100px;

}

.signup{
	z-index: 30000;
	/*border: 1px solid white;*/
	background-color: rgb(96, 96, 96,0,0.6);
/*	width: 400px;*/
	padding-top: 30px;
	padding-left: 50px;
	height: 200px;
}

input:placeholder-shown {
	font-family: 'sans-serif', sans-serif;
}


.background{
	height: 100vh;
	width: 100vw;
}


.flash{
	/*position: absolute;
	z-index: 1000;
	border: 1px solid black;
	margin-top: 20px;*/

}

.notice{

}

.alert{

}

html,
body {
   margin:0;
   padding:0;
   height:98vh;
   font-family: 'Josefin Sans', sans-serif;
}
#container {
   min-height:50%;
   position:relative;
   z-index: -1;
}

footer{
  font-size: 12px;
  margin-left: 10px;
  z-index: 10000000000;
  clear: both;
}

#container {
  clear: both;
}



/* Profile Page - Begin */
#post_form  textarea{
  position: relative;
  top: 9em;
  left: 12.5em;
  width: 31.8em;
  padding: 15px 15px 37px;
  font-size: 1.2em;
  border: lightblue 3px solid;
  border-radius: 10px;
}

#post_form  input[type = "Submit"] {
  position: relative;
  top: 10.4em;
  left: 16em;
  border: lightblue 3px solid;
  border-radius: 10px;
  background-color: lightblue;
  height: 2em; 
  width: 4em;
}

#posts_title {
  position: relative;
  top: 7em;
  left: 10em;
  margin: 0;
}

.user_post {
  position: relative;
  left: 12.5em;
  top: 9em;
  border: 1px solid red;
  width: 40em;
  font-size: 1.2em;
  padding: 0 15px;
  width: 31.8em;
  border: lightblue 3px solid;
  border-radius: 10px;
  clear: left;
}

.user_post .post_content {
  font-weight: 900;
}

.user_post .post_username {
  font-size: .9em;
  position: relative;
  top: 1em;
}

.user_post .post_timestamp {
  font-size: .75em;
  position: relative;
  left: 9.5em;
  margin: -15px 0 0;
}

.user_post .post_edit{
  font-size: .75em;
  position: relative;
  left: 36em;
  top: -1.3em;
}

.user_post .post_delete {
  font-size: .75em;
  position: relative;
  left: 37em;
  top: -1.3em;

}

#acctData {
  position: absolute;
  right: 50px;
  top: 100px;
  height: 540px;
  width: 350px;
  background-color: lightblue;
  border-radius: 10px;
}

#acctData img {
  height: 150px;
  width: 150px;
  padding: 10px;
  float: left;
}

#acctData p {
  /*float: left;*/
  margin: 10px;
  text-transform: uppercase;
}

#acctData h3 {
  /*float: left;*/
  margin: 10px;
}

#acctData #acctData_align1 {
  float: left;
  width: 30%;
}

#acctData #acctData_align2 {
  float: left;
  width: 68%;
}

#acctData #acctData_align3, #acctData #acctData_align4 {
  float: left;
  width: 48%;
}

.uploadphoto{
  margin-top: 1000px;
  float: left;
}




/* Profile Page - End 


/*Account Page CSS Goes Here*/

#acctInfo {
  line-height: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50px;
}

#acctInfo ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#acctInfo ul li {
  margin: 0;
  padding: 0;
}

#newInfo {
  text-transform: uppercase;
}

#newInfo input, #newInfo select {
  width: 150px;
  text-transform: uppercase;
}

#deleteAcct {
  margin-left: 100px;
  font-size: 72px;
}

#deleteAcct input {
  text-transform: uppercase;

}

input:placeholder-shown {
  font-family: 'Josefin Sans', sans-serif;

}

#followers{
  width: 20%;
  margin: 0;
  float: left;
  position: absolute;
}

/*Account page end*/


/*Browse page begin*/

#userlist li {
/*  float: left;*/
  display: block;
  top: 2em;
  font-size: 24px;
  padding-top: 16px;
  margin-left: 20px;
  position: relative;
}

/*Browse page end*/





/*Feed*/
#dailyhoro{
  border: 1px solid black;
  width: 300px;
  height: 150px;
  padding: 10px;
  margin-left: 500px;
  margin-top: 100px;
  float: left;
}

.feedtable{
  margin-left: 1000px;
  margin-top: 200px;
/*  border: 1px solid black;*/
  float: both;
  clear: left;
  margin-left: 300px;
  width: 500px;
  padding: 100px;


}

.posters{
  margin: 0px;
}



